<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head.ejs %>
</head>
<body>
<div class="star-field">
    <div id='stars'></div>
    <div id='stars2'></div>
    <div id='stars3'></div>
</div>
<div class="container">
    <header>
        <% include ../partials/header.ejs %>
    </header>

    <main>
        <div class="row title-row">
            <div class="col-lg-1"></div>
            <div class="col-lg-3">
                <span id="left-score" class="score">0</span>
                <span id="left-rank"></span>
                <span class="name-label" id="left-name"><%- profile.Displayname %></span>
                <span class="points-label" id="left-score">012400</span>
            </div>
            <div class="col-lg-4 logo"><img src="/assets/logo.png" alt=""></div>
            <div class="col-lg-3">
                <span id="right-score" class="score">0</span>
                <span id="left-rank"></span>
                <span class="name-label" id="right-name"><%- opponent.Displayname %></span>
                <span class="points-label" id="right-score">101150</span>
            </div>
            <div class="col-lg-1"></div>
        </div>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <div class="game-container">
                    <div id="munch-pong"></div>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </main>

    <footer>
        <div id="games"></div>
        <script>
          var opponent = <%- JSON.stringify(opponentId) %>;
          var profile = <%- JSON.stringify(profile) %>;
          var noevent = <%- JSON.stringify(noevent) %>;
          var computer = <%- JSON.stringify(computer) %>;
        </script>
        <% include ../partials/footer.ejs %>
    </footer>
</div>

</body>
</html>