<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
<div class="star-field">
    <div id='stars'></div>
    <div id='stars2'></div>
    <div id='stars3'></div>
</div>
<div class="container">
    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="row">
            <div class="col-lg-offset-1 col-md-offset-0 col-lg-10 col-md-12">
                <div class="login-head row login-head-login-page">
                    <div class="col-md-offset-1 col-sm-offset-0 col-md-10 col-sm-12 col-lg-offset-3 col-lg-6 logo">
                        <img src="/assets/logo.png" alt="">
                    </div>
                </div>
                <div class="row login-body profile-body">
                    <div class="col-md-offset-1 col-md-5">
                        <h1 class="welcome">DOBRODOŠLI!</h1>
                        <div class="rank-badge"><img src="" alt=""></div>
                        <h3 class="username"><%- profile.DisplayName %></h3>
                        <div class="row rank-row">
                            <div class="col-xs-4 pts-container daily-pts">
                                <span class="pts-label">dnevnih<br/>poena</span><br/>
                                <span class="pts-score"></span>
                            </div>
                            <div class="col-xs-4 pts-container weekly-pts">
                                <span class="pts-label">nedeljnih<br/>poena</span><br/>
                                <span class="pts-score"></span>
                            </div>
                            <div class="col-xs-4 pts-container total-pts">
                                <span class="pts-label">ukupno<br/>poena</span><br/>
                                <span class="pts-score"></span>
                            </div>
                        </div>
                        <div class="row rank-row">
                            <div class="col-xs-4 pts-container daily-rank">
                                <span class="pts-label">dnevni<br/>rang</span><br/>
                                <span class="pts-score"></span>
                            </div>
                            <div class="col-xs-4 pts-container weekly-rank">
                                <span class="pts-label">nedeljni<br/>rang</span><br/>
                                <span class="pts-score"></span>
                            </div>
                            <div class="col-xs-4 pts-container total-rank">
                                <span class="pts-label">ukupni<br/>rang</span><br/>
                                <span class="pts-score"></span>
                            </div>
                        </div>
                        <span class="logout">
                            Ako nisi <span class="username"><%- profile.DisplayName %></span>
                            <a class="logout-link" href="/auth/logout">prijavi se kao drugi korisnik</a>
                        </span>
                    </div>
                    <div class="col-md-5">
                        <div class="pick-side">
                            <div class="col-md-4">
                                <span>Izaberi stranu:</span>
                            </div>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <a href="javascript:void(0)" id="pickBlack">
                                            <img src="/assets/buttons/crni_manc_glow.png" class="active" alt="">
                                            <img src="/assets/crni_manc_no_glow.png" class="inactive" alt="">
                                        </a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="javascript:void(0)" id="pickWhite">
                                            <img src="/assets/buttons/beli_manc_glow.png" class="active" alt="">
                                            <img src="/assets/beli_manc_no_glow.png" class="inactive" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vs-player">
                            <div class="row">
                                <div class="col-md-12 munch-btn">
                                    <a href="/play/opponents">
                                        <img src="/assets/buttons/igraj_protiv_igraca_no_glow.png" class="regular" alt="">
                                        <img src="/assets/buttons/igraj_protiv_igraca_glow.png" class="over" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="vs-computer">
                            <div class="row">
                                <div class="col-md-12 munch-btn">
                                    <a href="/play?computer=true">
                                        <img src="/assets/buttons/igraj-protivpc-no-glow.png" class="regular" alt="">
                                        <img src="/assets/buttons/igraj-protivpc-glow.png" class="over" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!--<div class="poziv">
                            <div class="row">
                                <div class="col-md-offset-1 col-md-10 col-xs-12">
                                    <p>pošalji poziv za igru prijatelju:</p>
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <a target="_blank"
                                               href="mailto:?subject=MunchWars&body=Igraj MunchWars http://sentora.vukstankovic.com/play?game=<%= playfabId %>">
                                                <img src="/assets/email.png"/>
                                                <p>email</p>
                                            </a>
                                        </div>
                                        <div class="col-xs-3">
                                            <a href="#">
                                                <img src="/assets/fb.png"/>
                                                <p>facebook</p>
                                            </a>
                                        </div>
                                        <div class="col-xs-3">
                                            <a target="_blank"
                                               href="https://api.whatsapp.com/send?text=<%= encodeURIComponent('Igraj MunchWars http://sentora.vukstankovic.com/play?game=' + playfabId) %>">
                                                <img src="/assets/wa.png"/>
                                                <p>whatsapp</p>
                                            </a>
                                        </div>
                                        <div class="col-xs-3">
                                            <a href="#">
                                                <img src="/assets/phone.png"/>
                                                <p>phone</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="row munch-logo-row hide-on-mobile">
            <div class="col-md-4">
                <div class="spanner"></div>
            </div>
            <div class="col-md-4">
                <img src="/assets/home/munchmallow-logo.png" alt="Igraj Munch Pong">
            </div>
            <div class="col-md-4">
                <div class="spanner"></div>
            </div>
        </div>
    </main>

    <footer>
        <script>
          var profile = <%- JSON.stringify(profile) %>;
          var stats = <%- JSON.stringify(stats) %>;
          var totalRank = <%- JSON.stringify(totalRank) %>;
          var weeklyRank = <%- JSON.stringify(weeklyRank) %>;
          var dailyRank = <%- JSON.stringify(dailyRank) %>;
        </script>
        <% include ../partials/footer %>
    </footer>
</div>

</body>
</html>